---
title: Home pagina
kind: index
---

h1 Arno's blog

p
 | Software engineer builds some static site builder. Engineer manager thinks: <quote>/me will write content. At least weekly.</quote> So here is my attempt at an unmaintaned blog.


.recent
  - @items.select{ |item| item.key?(:created_at)}.sort{|a,b| a[:created_at] <=> b[:created_at] }.map do |item|
    .article== link_to("#{item[:title]} - #{item[:subtitle]} ", item)
