
body {
  color: #444;
  font-size: 3ex;
  margin: 0px auto 0px auto;
  max-width: 80vw;
  background: #EEEEEE;
  line-height: 1.4;
  font-family: Sans-Serif;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

code {
  background-color: #eee;
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1em;
}

nav #tags a{
  font-size: 0.8em;
  text-transform: initial;
}

nav a {
  color: #888;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px black;
  color: #555;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
}

h2 {
  font-size: 1.6.em;
  line-height: 1.2;
}

div.info {
  color: #555;
  font-size: .8em;
  font-style: italic;
}

div.intro {
  border-left: .1em solid #555;
  color: #555;
  font-size: .8em;
  font-style: italic;
}

.thumbnail {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px;
  max-height: 320px;
}

.img-left {
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.img-right {
  float: right;
  margin-right: 10px;
  padding: 10px;
}
