<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if @item[:title] %>
      <title>Blog - <%= @item[:title] %></title>
    <% else %>
      <title>dcoded Blog</title>
    <% end %>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <nav>
      <a href="/" title="🏚">home</a>
      <div id="tags">
        <% puts @item, @item[:tags] %>
        <% if @item && @item[:tags] %>
          <% @item[:tags].each do |tag| %>
            <%= link_to(tag, "/tags/" + tag + "/") %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
    <footer>
      <a href="/" title="🏚">home</a>
      <a href="https://arno.gitlab.io/resume/">resume</a>
      <div>This blog is built using <a href="https://nanoc.ws/" target="nanoc">nanoc</a></div>
    </footer>
  </body>
</html>
