<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if @item[:title] %>
      <title>Blog - <%= @item[:title] %></title>
    <% else %>
      <title>dcoded Blog</title>
    <% end %>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <nav>
      <a href="/" title="🏚">home</a>
    </nav>
    <div id="main">
      <h1>Tag: <%= @tag %></h1>
      <ul>
      <% items_with_tag(@tag).each do |item| %>
        <li>
          <%= link_to(item[:title], item) %>
          <p>Other tags: <%= tags_for(item) %></p>
        </li>
      <% end %>
      </ul>

    </div>
    <footer>
      <a href="/" title="🏚">home</a>
      <a href="https://arno.gitlab.io/resume/">resume</a>
      <div>This blog is built using <a href="https://nanoc.ws/" target="nanoc">nanoc</a></div>
    </footer>
  </body>
</html>
